* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
}

h3, p {
    width: 90%;
    margin: 3% auto;
    text-align: justify;
}

h3{
    font-size: 25px;
}

p{
    font-size: 18px;
}

.checkbox {
    position: absolute;
    display: none;
}

.gridcontainer {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #c7e0ff;
    clear: both;
    position: relative;
}

/* Rounded Menu */

.menu-block {
    display: block;
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    background-color: #ccc;
}

.menu-block #check {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    z-index: 11;
}

.menu-block .main-txt {
    position: absolute;
    bottom: 13.5vw;
    right: 13.5vw;
    width: 20vw;
    height: 20vw;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 20vw;
    font-size: 0.7rem;
    border-radius: 50%;
    z-index: 10;
}

.menu-block #check:checked + .main-txt {
    /* background-color: #888; */
}

.menu-block .sub {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    width: 50vw;
    height: 50vw;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: rgba(0,0,0,0.2); */
}

.menu-block .sub li {
    float: left;
    background-color: rgba(0, 0, 0, 0.55);
    color: #fff;
    width: 10vw;
    height: 10vw;
    text-align: center;
    line-height: 10vw;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s ease-out;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.menu-block .sub li:first-child {
    right: 19vw;
    top: 4vw;
    transition-delay: 0.1s;
}

.menu-block .sub li:nth-child(2) {
    right: 6vw;
    top: 9vw;
    transition-delay: 0.2s;
}

.menu-block .sub li:nth-child(3) {
    right: 1vw;
    top: 21vw;
    transition-delay: 0.3s;
}

.menu-block .sub li:nth-child(4) {
    right: 5vw;
    top: 34vw;
    transition-delay: 0.4s;
}

.menu-block .sub li:nth-child(5) {
    right: 18vw;
    top: 39vw;
    transition-delay: 0.5s;
}

.menu-block .sub li:nth-child(6) {
    right: 31vw;
    top: 34vw;
    transition-delay: 0.6s;
}

.menu-block .sub li:nth-child(7) {
    right: 36vw;
    top: 21vw;
    transition-delay: 0.7s;
}

.menu-block .sub li:nth-child(8) {
    right: 31vw;
    top: 9vw;
    transition-delay: 0.8s;
}

.menu-block .sub li a {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 0.6rem;
}

.menu-block #check:checked ~ .sub li {
    pointer-events: all;
    opacity: 1;
    z-index: 5;
}

/* ENDED */

/* Sticky Menu */

.sticky-menu-block {
    display: block;
    clear: both;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    margin: 3% auto;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    overflow: auto;
}

.sticky-menu-block .logo {
    display: block;
    clear: none;
    float: left;
    height: 50px;
    line-height: 50px;
    width: 45%;
    padding-left: 2vw;
}

.sticky-menu-block #stickycheck {
    position: absolute;
    display: none;
}

.sticky-menu-block .menu-sticky {
    display: none;
    position: relative;
    float: right;
    clear: none;
    width: 20%;
    z-index: 30;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.sticky-menu-block .main {
    width: 55%;
    text-align: right;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

.sticky-menu-block .main li {
    height: 50px;
    line-height: 50px;
}

.sticky-menu-block .main li a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    /*  */
    .sticky-menu-block .menu-sticky {
        display: block;
    }

    .sticky-menu-block .main {
        display: block;
        height: 100vh;
        position: fixed;
        background: #76acf5;
        right: -40vw;
        top: 0;
        width: 40vw;
        transition: 0.5s ease-in;
    }

    .sticky-menu-block #stickycheck:checked ~ ul.main {
        right: 0;
    }

    .sticky-menu-block #stickycheck:checked + label:before{
        content: 'Close ';
    }

    .sticky-menu-block .main li {
        display: block;
        width: 100%;
        clear: both;
        margin: 0 auto;
        text-align: center;
        height: 15vw;
        line-height: 15vw;
    }

    .sticky-menu-block .main li:first-child {
        margin-top: 20vw;
    }

    .sticky-menu-block .main li a {
        color: #000;
    }
}

/* ENDED */

/* Full Screen Navigation Menu */

.menublock {
    /* display: block;
    width: 100%;
    height:100%;
    clear: both;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0; */

	display: block;
    width: 2.5rem;
    height: 2.5rem;
    clear: both;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
}

#fullcheck {
    display: none;
}

.fulltxt {
    position: absolute;
    top: -2.5rem;
    right: -2.5rem;
    background-color: #fff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 0 transparent;
    transition: .3s;
    opacity: .7;
}

.fulltxt:active {
    opacity: 1;
}

.fulltxt span {
    position: absolute;
    top: 3.4rem;
    right: 2.9rem;
    width: 1.25rem;
    height: 2px;
    background-color: #000;
    transition: .3s;
    z-index: 10;
}

.fulltxt span:before {
    content: " ";
    position: absolute;
    top: -10px;
    width: inherit;
    height: inherit;
    background-color: inherit;
    transition: .3s;
}

.fulltxt span:after {
    content: " ";
    position: absolute;
    top: 10px;
    width: inherit;
    height: inherit;
    background-color: inherit;
    transition: .3s;
}

#fullcheck:checked + .fulltxt {
    box-shadow: -2.5rem 2.5rem 0 100vh #fff;
    opacity: 1;
}

#fullcheck:checked + .fulltxt span {
    background-color: transparent;
}

#fullcheck:checked + .fulltxt span:before{
    background-color: #000;
    top: 0;
    transform: rotate(45deg);
}

#fullcheck:checked + .fulltxt span:after{
    background-color: #000;
    top: 0;
    transform: rotate(135deg);
}

.fullnav {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-flow: column;
    z-index: 9;
    opacity: 0;
    transition: .5s;
    transition-delay: .5s;
}

#fullcheck:checked ~ .fullnav {
    display: flex;
    opacity: 1;
}

.fullitem {
    display: block;
    text-align: center;
    clear: both;
    margin: 5% auto;
    width: 100%;
    position: relative;
}

.fullitem a {
    /* text-transform: uppercase; */
    color: #555;
    text-decoration: none;
    font-size: 1.2rem;
}

.fullitem a:hover {
    color: #000;
}

/* ENDED */

/* Bottom Menu */

.bottomblock {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 12.5vw;
    overflow: visible;
    background-color: #1b1464;
    z-index: 1;
}

.bottomblock .bottomtxt {
    display: block;
    width: 25vw;
    height: 25vw;
    background-color: #fff;
    border: 2px solid #1b1464;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bottomblock .bottomtxt span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 12vw;
    height: 2px;
    background-color: #000;
    transition: .3s;
}

.bottomblock .bottomtxt span:before {
    content: " ";
    position: absolute;
    top: -0.45rem;
    width: inherit;
    height: inherit;
    background-color: inherit;
    transition: .3s;
}

.bottomblock .bottomtxt span:after {
    content: " ";
    position: absolute;
    top: 0.45rem;
    width: inherit;
    height: inherit;
    background-color: inherit;
    transition: .3s;
}

.bottomblock .bottomnav {
    display: none;
    visibility: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    left: 5%;
    bottom: 35vw;
    border: 2px solid #1b1464;
    width: 90%;
    text-align: center;
    background-color: #fff;
    max-height: 90vh;
}

.bottomblock #bottomcheck:checked + .bottomtxt span {
    background-color: transparent;
}

.bottomblock #bottomcheck:checked + .bottomtxt span:before {
    background-color: #1b1464;
    top: 0;
    transform: rotate(45deg);
}

.bottomblock #bottomcheck:checked + .bottomtxt span:after {
    background-color: #1b1464;
    top: 0;
    transform: rotate(135deg);
}

.bottomblock #bottomcheck:checked ~ .bottomnav {
    display: block;
    visibility: visible;
}

.bottomblock .bottomnav:after{
    content: " ";
    width: 0;
    height: 0;
    border-width: 5vw;
    border-color: #1b1464 transparent transparent transparent;
    border-style: solid;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

.bottomblock .bottomnav ul {
    padding: 0;
    margin: 0;
    max-height: 100%;
    overflow-y: auto;
}

.bottomblock .bottomnav .bottomitem {
    display: block;
    width: 100%;
    clear: both;
    border-bottom: 2px solid #1b1464;
    padding: 0;
}

.bottomblock .bottomnav .bottomitem:last-child {
    border: none;
}

.bottomblock .bottomnav .bottomitem a {
    color: #1b1464;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 15px 0;
    display: block;
}

/* ENDED */


/* Pop */

.menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menuIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 1px solid #1b1464;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.menuIcon span {
    width: 70%;
    height: 2px;
    background-color: #1b1464;
    position: relative;
}

.menuIcon span:before, .menuIcon span:after {
    content: "";
    display: block;
    height: inherit;
    width: 100%;
    position: absolute;
    background-color: #1b1464;
    transition: .3s ease-in-out;
    transform: rotate(0deg);
}

.menuIcon span:before {
    top: -10px;
}

.menuIcon span:after {
    top: 10px;
}

.checkbox:checked ~ .menuIcon span {
    background-color: transparent;
}

.checkbox:checked ~ .menuIcon span:before {
    top: 0px;
    transform: rotate(45deg);
}

.checkbox:checked ~ .menuIcon span:after {
    top: 0px;
    transform: rotate(135deg);
}

.popMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(-90deg);
    z-index: 1;
    background-color: #fff;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid #1b1464;
    transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.popMenu:before, .popMenu:after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: rgba(181, 174, 255, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.popMenu:after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.popMenu a {
    position: absolute;
    color: #000;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    transition: .3s ease-in-out;
}

.popMenu a:nth-child(1) {
    right: 20px;
    top: 50%;
    transform: translateY(-50%) scale(1) rotate(0deg);
}

.popMenu a:nth-child(2) {
    left: 20px;
    top: 50%;
    transform: translateY(-50%) scale(1) rotate(0deg);
}

.popMenu a:nth-child(3) {
    top: 20px;
    left: 50%;
    transform: translateX(-50%) scale(1) rotate(0deg);
}

.popMenu a:nth-child(4) {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%) scale(1) rotate(0deg);
}

.checkbox:checked ~ .popMenu {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
}

.popMenu a:nth-child(1):hover { color: #3b5998; transform: translateY(-50%) scale(1.5) rotate(360deg); }
.popMenu a:nth-child(2):hover { color: #00aced; transform: translateY(-50%) scale(1.5) rotate(360deg); }
.popMenu a:nth-child(3):hover { color: #dd4b39; transform: translateX(-50%) scale(1.5) rotate(360deg); }
.popMenu a:nth-child(4):hover { color: #bb0000; transform: translateX(-50%) scale(1.5) rotate(360deg); }